<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
    .footer {
        font-size: 2em;
        box-sizing: border-box;
        padding: 10px;
    }
</style>

<script>

    $(document).ready(() => {
        $('#memberBtn').click(() => {
            $('#sign-in').css('display', 'block');
            $('#main-popup-area').css('display', 'block');
        });
    })

</script>

<div id="main-footer" class="footer" th:fragment="footer">
    <i id="memberBtn" class="fa-regular fa-user"></i>
</div>