<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  #wodItem {
    text-align: center;
  }
  .card {
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    width: 97%;
    margin-bottom: 20px;
    box-shadow: 0 1px 9px rgba(0,0,0,0.12), 0 4px 6px rgba(0,0,0,0.24);
  }
</style>

<script>

  $(document).ready(() => {
    setDatePicker()
  });

  let addWod = () => {
    let wodText = $('#wodText');
    $('#wodItem').append("<div class='card'>"+ wodText.val() + "</div>");
    wodText.val('');
  }

  let setDatePicker = () => {
    $( "#datepicker" ).datepicker({
      dateFormat: 'yy-mm-dd'
    }).datepicker('setDate', 'today');
  }





</script>

<div id="main-wod" th:fragment="wod">
  <div id="main-wod-cont">
    <!--  date 날짜  -->
    <div>
      <input id="datepicker" class="wod-font form-control" type="text">
    </div>
    <!-- title -->
    <input type="text" class="form-control">
    <!--  wod 종류  -->
    <div>
      <select class="wod-font">
        <option value="">For time</option>
        <option value="">Time cap</option>
        <option value="" selected>AMRAP</option>
        <option value="">EMOM</option>
      </select>
    </div>
    
    
    <!--  기록  -->
    <div>
      <!--   입력   -->
      <div id="wodItem" style="margin-top: 20px; margin-bottom: 20px;">

      </div>

      <div class="input-group mb-3">
        <input id="wodText" type="text" class="form-control wod-font" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary wod-font" type="button" onclick="addWod()">추가</button>
        </div>
      </div>
      <!--   사진   -->

    </div>
  </div>
</div>