<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<style>
  #wodItem {
    text-align: center;
  }
  .card {
    padding: 5px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
    display: inline-block;
    width: 97%;
    margin-bottom: 20px;
    box-shadow: 0 1px 9px rgba(0,0,0,0.12), 0 4px 6px rgba(0,0,0,0.24);
  }
</style>

<script>
  let addWod = () => {

    let wodText = $('#wodText');
    $('#wodItem').append("<div class='card'>"+ wodText.val() + "</div>");
    wodText.val('');

  }
</script>

<div id="main-wod" th:fragment="wod">
  <div id="main-wod-cont">
    <!--  date 날짜  -->
    <div>
      <input class="wod-font" type="date">
    </div>
    <!--  wod 종류  -->
    <div>
      <select class="wod-font">
        <option value="">For time</option>
        <option value="">Time cap</option>
        <option value="" selected>AMRAP</option>
        <option value="">EMOM</option>
      </select>
    </div>
    <!--  기록  -->
    <div>
      <!--   입력   -->
      <div id="wodItem" style="margin-top: 20px; margin-bottom: 20px;">

      </div>

      <input id="wodText" type="text" class="wod-font">
      <button class="wod-font" onclick="addWod()">추가</button>
      <!--   사진   -->

    </div>
  </div>
</div>