/**
    노말라이징
 */
body, ul, li, p,
h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; list-style: none;}
a { color: inherit; text-decoration: inherit;}
body { font-family: 'Noto Sans KR', san-serif;}

html, body {
    width: 100%;
    height: 100%;
    background-color: #EFF3F4;
    color: #333132;
}

#main-wrap {
    width: 100%;
    height: 100%;
}

#main-cont-area {
    width: 100%;
    height: 100%;
}

#main-header {
    width: 100%;
    height: 170px;
    position: relative;
    border-bottom-left-radius: 27px;
    border-bottom-right-radius: 27px;
    box-shadow: 0px 3px 10px -13px;
    background-color: rgb(255, 255, 255);
}

#main-wod {
    width: 100%;
    height: calc(100% - 170px - 60px);
    background-color:#EFF3F4;
}

#main-footer {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    box-shadow: 0px 13px 12px 1px;
}

#main-popup-area {
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 100;
}

